.hsctitle {
    font-family: 'Montserrat';
    font-size: 50px;
    letter-spacing: 10px;
    padding-block: center;
}
.captiontext{
    font-family: Montserrat;
    font-size: 30px;
}
.example-card {
    width: 500px;
    line-height: 40px;;
  }
.card-content{
    text-align: center;
    font-family: Comfortaa;
    font-size: 25px;
}
.motivationbox {
    font-size: 30px;
    color: #3F51B5;
    font-family: 'Comfortaa';
    letter-spacing: 5px;

}
.approachclass{
    align-self: center;
    width: 2000px;
}
.approachimage {
        align-self: center;
        width: 70%;
        height: auto;
      
}