<div class="container">
    <img src="assets/city-reflections-2-blur.png" class="bgimageclass" alt="Norway" style="width:100%;">
    <div class="text-block">
        <h4 class="hsctitle">WATER FOOTPRINT ASSESSMENT OF URBAN CITIES</h4>
    </div>
    <div class="text-block2">
            <h4 class="captiontitle"><i>A data-centric solution for the sustainable smart cities</i></h4>
        </div>
</div>


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////motivation and others: -->
<mat-toolbar class="motivationbox">
    <span class="example-fill-remaining-space"></span>
    <div class="motivationstitle">MOTIVATION</div>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<mat-card>

    <mat-grid-list cols="6" rowHeight="2:4" class="gridlistclass">

        <mat-grid-tile [colspan]=3>
            <mat-card class="example-card" [class.mat-elevation-z9]="true" >
                <div class="card-content">Urbans are consumption hot spots. Urbans consume more resources than all in
                    the form of water, energy, food, products.</div>.
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=3>
            <mat-card class="example-card2" [class.mat-elevation-z11]="true">
                <div class="card-content">Urbans consume more water virtually than direct consumption for producing food
                    products in agriculture, for processing food and in goods, services.</div>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile [colspan]=4>
            <img class="approachimage" src="https://i.ibb.co/zsRP1VN/approach.png" alt="approach image">


        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile [colspan]=2>
            <mat-card class="example-card3" [class.mat-elevation-z9]="true">
                <div class="card-content">There is no scaling and benchmarking for this type of consumption for urbans
                    in India.<br></div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=2>
            <mat-card class="example-card4" [class.mat-elevation-z9]="true">
                <div class="card-content">Most of the products, goods are<br> imported into the cities<br>from water
                    scarce
                    regions also<br>for their economic development.<br></div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile [colspan]=2>
            <mat-card class="example-card5" [class.mat-elevation-z9]="true">
                <div class="card-content">Due to production of goods in water scarce regions they effect the water
                    ecology of that region..<br></div>
            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</mat-card>