<mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
        <span class="example-fill-remaining-space"></span>
        <h1 class="hsctitle">HYDRO SMART CITIES</h1>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
            <span class="example-fill-remaining-space"></span>
            <div class="captiontext">Some catchy caption goes here</div>
            <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
</mat-toolbar>