<mat-toolbar color="primary">
    <div class="toolbartitle">ABOUT US</div>
</mat-toolbar>


<mat-card [class.mat-elevation-z9]="true" class="maincard">
    <div>
        <mat-grid-list cols="4" rowHeight="2:3" class="gridlist">
            <mat-grid-tile>
                <mat-card class="peoplecards" [class.mat-elevation-z9]="true">
                    <mat-card-header>
                        <mat-card-title>Koteswara Rao</mat-card-title>
                        <mat-card-subtitle>Ph. D in Water Resources Engineering,<br>Department of Civil Engineering,<br>IIT Hyderabad</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image class="ourphotos" src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/10001403_853069391373597_1894791569_n.jpg?_nc_cat=104&_nc_oc=AQkEZ3hhCuwl1hQ3JJ682UWhYH8T3QqK1-M0i5mPhAijTpKnQXlKSma_7mp7KEWrOuA&_nc_ht=scontent-maa2-1.xx&oh=4754a4262cd56f099599157a6b0bed60&oe=5E2D44E0"
                        alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            Water Footprint Analysis for Hyderabad City.
                        </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                    <mat-card class="peoplecards" [class.mat-elevation-z9]="true">
                        <mat-card-header>
                            <mat-card-title>Vimal Chandra Sharma</mat-card-title>
                            <mat-card-subtitle>Ph. D in Water Resources Engineering,<br>Department of Civil Engineering,<br>IIT Hyderabad</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image class="ourphotos" src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/15698278_1393651944002490_2751488859711248171_n.jpg?_nc_cat=105&_nc_oc=AQkUNNYEBG4r-yNoeaAn9nuZhnkBM-V8ckq4KMPdNW6tnKLPka_SFQ-iMAoFvPRhEBc&_nc_ht=scontent-maa2-1.xx&oh=fd7cd6d04dd6454b4670bca2ffadd5f6&oe=5E1E6DE3"
                            alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <p>
                                Formulation of the idea.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                        <mat-card class="peoplecards" [class.mat-elevation-z9]="true">
                            <mat-card-header>
                                <mat-card-title>Tirupathi</mat-card-title>
                                <mat-card-subtitle>Ph. D in Water Resources Engineering,<br>Department of Civil Engineering,<br>IIT Hyderabad</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image classs="ourphotos" src="https://i.imgur.com/KRwDW7U.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-content>
                                <p>
                                    Climate projections on WF.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                            <mat-card class="peoplecards" [class.mat-elevation-z9]="true">
                                <mat-card-header>
                                    <mat-card-title>Sachin Godishela</mat-card-title>
                                    <mat-card-subtitle>B. Tech., Department of Civil Engineering</mat-card-subtitle>
                                </mat-card-header>
                                <img mat-card-image src="https://avatars3.githubusercontent.com/u/35718827?s=460&v=4"
                                    alt="Photo of a Shiba Inu">
                                <mat-card-content>
                                    <p>
                                        Web-Development.
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-card>