.maincard {
    margin: 20px;
}
.peoplecards {
    max-width: 400px;
  }
.example-header-image {
    background-image: url('https://avatars2.githubusercontent.com/u/35718827?s=400&v=4');
    background-size: cover;
}
.gridlist {
    padding: 20px;
}