<mat-toolbar class="databox" color="primary">
        <span class="example-fill-remaining-space"></span>
        <div class="datatitle">Water Footprint Model for  a city</div>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
<br> <br>
<br><p></p>
    <div class="imagediv">
            <span class="example-fill-remaining-space"></span>
        <img src="assets/model.png" class="imgclass" [class.mat-elevation-z9]="true">
        <span class="example-fill-remaining-space"></span>
    </div>
    