<mat-toolbar class="challengebox" color="primary">
        <span class="example-fill-remaining-space"></span>
        <div class="challengetitle">Data is a big  challenge!</div>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
<br> <br>
<br><p></p>
    <div class="imagediv">
            <span class="example-fill-remaining-space"></span>
        <img src="assets/challenges.png" class="imgclass" [class.mat-elevation-z9]="true">
        <span class="example-fill-remaining-space"></span>
    </div>
    