.challengetitle {
    font-size: 35px;
    color: white;
    font-family: 'Comfortaa';
    letter-spacing: 7px;
}


.imgclass {
    padding-top: 30px;
display: block;
margin-left: auto;
margin-right: auto;
}

.bgimageclass{
    height: 600px;
}