<mat-toolbar class="researchbox" color="primary">
    <span class="example-fill-remaining-space"></span>
    <div class="researchtitle">Case Study: <b>HYDERABAD City</b></div>
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>






<mat-grid-list cols="6" rowHeight="2:3">

    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
            <div class="card-content">
                <img mat-card-image class="imagesresearch" src="assets/1.png">
            </div>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
            <div class="card-content"></div>
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=2 [rowspan]=2>
        <div class="researchgifcard">
            <img mat-card class="researchimg" src="https://media.giphy.com/media/cOPfotacefQRoMHoWR/giphy.gif">
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
            <div class="card-content"></div>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">

                <img mat-card-image class="imagesresearch2" src="assets/2.png">
            
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
                <img mat-card-image class="imagesresearch3" src="assets/3.png">
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
            <div class="card-content">.</div>.
        </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
            <div class="card-content">.</div>.
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-card class="example-card" [class.mat-elevation-z9]="true">
                <img mat-card-image class="imagesresearch4" src="assets/4.png">
        </mat-card>
    </mat-grid-tile>



</mat-grid-list>