.researchtitle {
    font-size: 35px;
    color: white;
    font-family: 'Comfortaa';
    letter-spacing: 7px;
}
.researchgifcard{
    
}
.researchimg{
    align-self: center;
    width: 120%;
    height:auto
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
.fpalg{
    color: black;
}
.example-card{
    margin: 10px;
    width: 250px;
    height: 250px;
}
.imagesresearch{
    align-self: center;
        width: 290px;
        height: 290px;
        
}
.card-content{
    align-self: center;
}
.imagesresearch2{
        width: 120%;
        height: 110%;
}
.imagesresearch3{
    align-self: center;
        width: 150%;
        height: auto;
        max-width: 250;
}
.imagesresearch4{
        width: 120%;
        height: 105%;
}